@using Cat.Common.AppSettings
@using Cat.Web.Infrastructure.Grids
@using Cat.Web.Infrastructure.Platform

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta name="appTitle" content="@AppSettings.Instance.AppTitle" />
        <meta name="baseUrl" content="@BaseUrlProvider.BaseUrl" />
        <meta name="gridSchemesJson" content="@Grids.GetSchemesJson()" />
        <title>@AppSettings.Instance.AppTitle</title>
        @Styles.Render("~/Content/Styles")
    </head>
    <body>
        <div>
            <app-root></app-root>
        </div>
        @Scripts.Render("~/Script/SignalR")
        @Scripts.Render("~/Script/Bundles")
    </body>
</html>
