@using Cat.Common.AppSettings
@using Cat.Common.AppSettings.Providers
@using Cat.Web.Infrastructure.Grids

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="appTitle" content="@AppSettings.Instance.AppTitle" />
    <meta name="appVersion" content="@AppSettings.Instance.AppVersion" />
    <meta name="baseUrl" content="@BaseUrlProvider.BaseUrl" />
    <meta name="serverTimezoneIana" content="@ServerTimeZoneProvider.Iana()" />
    <meta name="gridSchemesJson" content="@Grids.SchemesJson" />
    <title>@AppSettings.Instance.AppTitle</title>
    @Styles.Render("~/Content/Styles")
</head>
    <body>
        <div>
            <app-root></app-root>
        </div>
        @Scripts.Render("~/Script/SignalR")
        @Scripts.Render("~/Script/Bundles")
    </body>
</html>
