@using Cat.Domain.Entities;
@model IEnumerable<TestEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>

<div>


    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
            </th>
        </tr>
        @{ int i = 1; }
        @foreach (var entity in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @entity.Name
                </td>
                <td>
                    <div style="float:right;">
                        @using (Html.BeginForm("Details", "Test", new { id = @entity.Id }, FormMethod.Get, new { style = "display: inline-block;" }))
                        {
                            <input class="btn btn-default" type="submit" value="Details" id="btnDet" />
                        }
                        @using (Html.BeginForm("Edit", "Test", new { id = @entity.Id }, FormMethod.Get, new { style = "display: inline-block;" }))
                        {
                            <input class="btn btn-default" type="submit" value="Edit" id="btnEdi" />
                        }
                        @using (Html.BeginForm("Remove", "Test", new { id = @entity.Id }, FormMethod.Post, new { style = "display: inline-block;" }))
                        {
                            <input class="btn btn-danger" type="submit" value="Remove" id="btnRem" />
                        }
                    </div>
                </td>
            </tr>
                        i++;
        }
    </table>
</div>
<hr />
<div>
    @Html.ActionLink("Add", "Add", "Test")
</div>